.dropdown-color{
    color:#89a989;
} 
.background-color-dropdown{
    background-color:#214533 ;
}

.navbar-background{
    background-color:#2d5140;
}

.logo{

    color: #89a989;
}
.dropdown-background{
    background-color: #89a989;
    color: #0c0e0d;
}