.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-form {
    text-align: center;
  }
  
  .profile-form input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .create-profile-button {
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .profile-card {
    text-align: center;
    padding: 20px;
    background-color: #e3ece3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  